body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
    max-width: 340px;
    background-color: #222831;
}

#profileDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#profileMain {
    max-width: 340px;
}

#tabsDiv {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding: 0;
    margin: 0;
    border-image-source: url('Tab Status.png');
    border-image-slice: 150 fill; 
    border-image-width: 20px;
    border-image-repeat: stretch; 
}

#buttonsDiv {
    display: flex;
    flex-grow: 1;
    max-height: 15px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    color: white;
    font-family: 'Jaini', sans-serif;
    font-size: 12px;
}

#buttonsDiv div {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
}

.tabHolder {
    display: none;
    padding: 5px;
}

#statusHolder {
    display: flex;
    flex-direction: column;
}